*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-family: "Montserrat", sans-serif;
  --boja-1: #b2beb5;
  --boja-2: #35586C;
  --boja-3: #a9a9a9;
  --boja-4: #36454f;
  --boja-5: #c0c0c0;

  --f1: 3rem;
  --f2: 2.25rem;
  --f3: 1.2rem;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  margin: 0 auto;
  max-width: 1750px;
}



/* Scrol */

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: var(--boja-4);
}
@keyframes transitionIn {
  from {
opacity: 0;
transform: rotate(-10deg);
  }
  to {
opacity: 1;
transform: rotate(0);
  }
}


/* Navigacija */

.logo {
  color: black;
  font-size: var(--f2);
  line-height: 80px;
  padding: 0 1rem;
  font-weight: bold;
  transform: rotate(0deg);
  transition: transform 600ms;
}
.logo:hover {
  transform: rotate(-90deg);
}
.nav_list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  background-color: var(--boja-2);
  border-radius: 15px;
  height: 5rem;
  margin-bottom: 3rem;
}
.nav_item {
  
  font-weight: bolder;
  font-size: var(--f3);
  text-transform: uppercase;
  
}
.nav_link {
  text-decoration: none;
  color: black;
}
.toggler{
  position: absolute;
  top: 2rem;
  right: 4rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 3rem;
  
}
.toggler .bar{
  height: 7px;
  width: 100%;
  background-color: rgb(20, 20, 20);
  border-radius: 8px;
}

/* Main */


.slika {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: italic;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 4rem;
  animation: transitionIn 0.7s;
}
.s1 {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.t1 {
  background-color: var(--boja-2);
  border-radius: 10px;
  padding-left: 22rem;
  margin-bottom: 2rem;
  padding-right: 5rem;
  position: absolute;
  z-index: -1;
}
.t2 {
  padding-top: 5rem;
  padding-left: 100px;
}

/* O meni */

.O_meni {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 30px;
  padding: 1rem;
  animation: transitionIn 2s;
  background-color: #aaaa;
  border-radius: 1rem;
}
.OM_item {
  font-size: 1.3rem;
  width: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-right: 2rem;
}
.OM_item2 {
  display: flex;
  flex-direction: column;
  font-size: var(--f3);
  gap: 2rem;
  border-color: var(--boja-2);
  border-style: dashed;
  padding: 1rem;
  border-radius: 1rem;
}
.naslov {
  background-color: var(--boja-2);
  border-radius: 10px;
  padding-left: 20px;
}

/* Moji projekti */

.MJP {
  margin: 1rem;
  animation: transitionIn 3s;
  list-style: none;
  
} 
.MJP li{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
  border-color: var(--boja-2);
  border-radius: 10px;
  border-style: dashed;
  background-color: #aaaa;
  font-size: var(--f3);
  margin: 2rem;
  text-align: center;
}



/* Kompetencije i vestine */
.komp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  animation: transitionIn 3s;
}
.komp_1 {
  display: flex;
  flex-direction: column;
  font-size: var(--f3);
  gap: 2rem;
  border-color: var(--boja-2);
  border-style: dashed;
  padding: 1rem;
  border-radius: 1rem;
  list-style: none;
  margin: 1rem;
}
.komp_2 {
  display: flex;
  flex-direction: column;
  font-size: var(--f3);
  gap: 2rem;
  border-color: var(--boja-2);
  border-style: dashed;
  padding: 1rem;
  border-radius: 1rem;
  list-style: none;
}
.nas {
  font-weight: bold;
}
/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--boja-2);
  border-radius: 15px;
  justify-content: space-around;
  display: flex;
  font-size: large;
  font-weight: 500;
}
.contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
}
.kontaktText {
  max-width: 800px;
}

/*  Ostalo  */
a{
  color: black;
}
button {
  background-color: var(--boja-2);
  padding: 1rem;
  border-radius: 50px;
  border-color: var(--boja-1);
  box-shadow: inset 0 0 0 0 var(--boja-1);
  transition: ease-out 0.5s;
  font-size: large;
  font-weight: bold;
}
button:hover {
  box-shadow: inset 300px 0 0 0 var(--boja-1);
  cursor: pointer;
  color: #1e1e24;
}
img {
  border-radius: 15px;
}
a.active,
a:hover {
    transition: 0.5s;
    color: var(--boja-4);
  }

/* Responsive */

@media only screen and (max-width: 800px) {
  
  .O_meni {
    flex-wrap: wrap;
  }
  .toggler {
    display: flex;
  }
  .nav_item {
    display: none;
    padding: 2px;
    text-align: center;
    justify-content: center;
  }
  .nav_list {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: auto;
  }
  .nav_link{
    width: 100%;
  }
  .nav_item.active {
    display: flex; 
  }
  .OM_item {
    width: auto;
  }
  .t1 {   
    z-index: -1;
    top: 20rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
  }
  .s1{
    justify-content: center;
    position: relative;
  }
  .s2{
    height: 200px;
  }
  .slika2 {
    width: 300px;
  }
  .MJP {
  display: grid;
  grid-template-columns: 1fr;
}
}

@media only screen and (min-width: 1500px) {
  .t2 {
  width: 37ch;
  animation: typing 1.5s steps(37);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes typing {
    from {
      width: 0
  }
}
}
