*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-family: "Montserrat", sans-serif;
  --boja-1: #b2beb5;
  --boja-2: hsla(233, 16%, 23%, 1);
  --boja-3: #a9a9a9;
  --boja-4: #36454f;
  --boja-5: #c0c0c0;

  --f1: 3rem;
  --f2: 2.25rem;
  --f3: 1.2rem;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  margin: 0 auto;
  padding: 0;
}



/* Scrol */

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: var(--boja-4);
}
@keyframes transitionIn {
  from {
opacity: 0;
transform: rotate(-10deg);
  }
  to {
opacity: 1;
transform: rotate(0);
  }
}


/* Navigacija */

header {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  background-image: linear-gradient(354.72deg, rgba(56, 61, 112, 0.31) 64.55%, rgba(56, 61, 112, 0) 89.61%),
  url(images/nate-grant-QQ9LainS6tI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.header-text {
  margin: 2rem;
  text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.5);
}
.logo {
  color: white;
  font-size: var(--f2);
  line-height: 80px;
  padding: 0 1rem;
  font-weight: bold;
  transform: rotate(0deg);
  transition: transform 600ms;
}
.logo:hover {
  transform: rotate(-90deg);
}
.nav_list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  border-radius: 15px;
  height: 5rem;
  margin-bottom: 3rem;
  text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.5);
}
.nav_item {
  font-weight: bolder;
  font-size: var(--f3);
  text-transform: uppercase;
}
.nav_link {
  text-decoration: none;
  color: white;
}

.toggler .bar{
  height: 7px;
  width: 100%;
  background-color: #ffff;
  border-radius: 8px;
}

/* Main */

section {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
.page-1 {
  background: hsla(33, 12%, 69%, 0.4);
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-direction: column;
}
.slika {
  animation: transitionIn 0.7s;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
}
.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.s1 {
  width: 25vw;
  padding-top: 5rem;

  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
}
.t1 {
  color: white;
}
.t2 {
  color: white;
}

/* O meni */

.O_meni {
  width: 40%;
}
.OM_item {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: 500;
}
.OM_item2 {
  color: #313343;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  font-weight: 600;
}
.glider-contain {
  max-width: 1750px;

}
.naslov {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.6rem;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-bottom: 0;
}
.page-2 .naslov {
  text-align: center;
  font-size: 2.3rem;
}
/* Moji projekti */

.MJP {
  padding: 0;
  margin: 2rem;
  animation: transitionIn 3s;
  list-style: none;
  
} 
.MJP li{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
  background: hsla(33, 12%, 69%, 0.4);
  font-size: var(--f3);
  margin: 2rem;
  text-align: center;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.3));
}



/* Kompetencije i vestine */
.komp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  background-color: hsla(233, 16%, 23%, 1);
  font-size: 2rem;
  color: whitesmoke;
  padding: 1rem;
  margin: 0;
}
.komp li img {
  width: 60px;
}
.komp li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nas {
  font-weight: bold;
}
/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--boja-2);
  justify-content: space-around;
  display: flex;
  font-size: large;
  font-weight: 500;
  margin-top: 5%;
  color: #ffff;
}
.contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
}
.kontaktText {
  max-width: 800px;
}

/*  Ostalo  */
a{
  color: whitesmoke;
}
img {
  border-radius: 15px;
}
a.active,
a:hover {
    transition: 0.5s;
    opacity: 0.5;
  }
  .navbar-container .in_cb,
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    height: 64px;
  }

  .navbar-container .in_cb {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
    .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffff;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
  .navbar-container {
    display: none;
  }
/* Responsive */
@media only screen and (max-width: 1600px){
  section {
    height: auto;
    width: auto;
  }
}
  @media only screen and (max-width: 1200px){
 .section1 {
    flex-direction: column;
  }
  .section2 {
    grid-template-columns: 1fr;
  }
    .O_meni {
    width: 90%;
  }
    .s1 {
    width: 60%;
    padding-top: 1rem;
  }
   .slika {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 800px) {
  
  section {
    height: auto;
    width: auto;
  }
  .O_meni {
    flex-wrap: wrap;
  }
  .toggler {
    display: block;
  }
  .nav_item {
    padding: 2px;
    text-align: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
    transform: translateY(-20rem);  
  }
  .section1 {
    flex-direction: column;
  }
  .section2 {
    grid-template-columns: 1fr;
  }
  .O_meni {
    width: 90%;
  }
  .naslov {
    font-size: 2rem;
  }
  .OM_item {
    font-size: 1.2rem;
  }
  .s1 {
    width: 80%;
    padding-top: 1rem;
  }
  .slika {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .komp {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nav_list {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: auto;
  }
  .nav_item.hide {
    transform: translateY(-50rem);
  }
    .nav_item.active {
    display: flex;
    transform: translateY(0);
    transition: all 1s ease-in-out;
    
  }
  .nav_link{
    width: 100%;
  }
  .navbar-container {
    display: block;
  }

}

@media only screen and (min-width: 1500px) {
  .t2 {
  width: 37ch;
  animation: typing 1.5s steps(37);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes typing {
    from {
      width: 0
  }
}
}
@keyframes Vugla {
    from{
        transform: rotate-Z(0) translateY(0);
        
    }
    to{
        transform: rotateZ(-30deg) translateY(0.5rem);
    }
}
@keyframes Kockica{
    from{
        transform: rotate-Z(0) translateY(0);
        
    }
    to{
        transform: rotateZ(360deg) translateY(1rem);
    }
}
@keyframes TextNaEkranu{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes TextNaEkranuOut{
    0% {opacity:1;}
    100% {opacity:0;}
}
#Glava{
    animation: Vugla 2s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}
#Kocke1{
    animation: Kockica 10s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}
#Kocke2{
    animation: Vugla 2s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}
#Tekst2{
    animation: TextNaEkranu 3s infinite alternate;
}
#Tekst{
    animation: TextNaEkranu 5s infinite alternate;
}
svg{
  margin: 1rem;
  max-width: 600px;
}